.widecard {
  border: 0px solid #9a9b9c;
  display: flex;
  margin: 30px 0px 30px 0px;
  padding: 20px;
}
.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.secondtext {
  margin-top: 5px;
  font-size: 1.25rem;
  font-weight: 400;
}
