.about {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.about_data {
  text-align: center;
}

.about_description {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.about-title {
  color: #304b70;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 360px) {
  .about {
    margin-top: 7rem;
  }
}
