.education {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #304b70;
}

/* MEDIA QUERIES */
@media screen and (max-width: 360px) {
  .education {
    font-size: 1.25rem;
  }
}
