.projects {
  display: flex;
  margin: 20px;
  justify-items: center;
  row-gap: 2rem;
}

.projects a {
  text-decoration: none;
}

.projects_content {
  padding: 1.5rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #dddddd;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  margin: auto;
}

.projects_content img {
  position: relative;
  overflow: hidden;
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.projects_title {
  font-size: 1.25rem;
  color: #304b70;
  margin-bottom: 0.5rem;
}

.projects_content,
.projects_description,
.projects_title {
  transition: 0.5s;
}

.project_button {
  display: inline-block;
  background-color: #4d7191;
  color: #fffcf2;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin: 1rem 2rem;
}

.project_button:hover {
  background-color: #304b70;
}

@media (min-width: 1024px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
