.skills {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}

.skills_content {
  width: 80%;
  padding: 1.5rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #dddddd;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: auto;
}

.col {
  text-align: center;
  margin-bottom: 15px;
}

.col h3 {
  padding-bottom: 10px;
}

.skills h1 {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
